/* #36393c #e37e1e #eaa928 #f0c82f #ffffff (Paleta de colores)*/

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		BODY
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

body{
    background-color: rgb(233, 233, 233);
    font-family: 'Asap', sans-serif;                        /*Color y fuentes para toda la pagina*/
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		HEADER
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.fondo{
    background-image: url("img/banner.jpg");
    padding-bottom: 50vh;
    background-repeat: no-repeat;
    background-size: cover;                     /*Aca pusimos una imagen con CSS, sin mosaicos, full size y centrada a la pagina*/
    background-attachment: scroll;
    background-position: 50% 0;
    height: 50%;
}

#encabezado{
    background-color: white;
    display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(0, 0, 0);                            
	width: 100%;
	top: 0;                                            /*Creamos el contenedor y header con display flex logrando poner cosas en la misma linea, el header, en jerarquia, esta posicionado por sobre todas las cosas de la pagina*/
	z-index: 2;
    background-color: rgba(255, 255, 255, 0.226);
    width: 100%;
    height: auto;
}

.museo{
    height: 15vh;       
	width: auto;                                    /*Logo con ciertas medidas y separado del margen*/
    margin-left:2%;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	CLASES DEL MENU
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

nav{
    width: 100%;                    /*Creamos un contenedor nav para poner un menu con enlaces a distintos apartados de la pagina*/
}

.nav ul{
    display: flex;
	float: right;
    margin-top: 2.5vh;              
    margin-right:10vh;
    list-style-type: none;
}

.nav ul li{
    white-space: nowrap;                /*.nav ul / .nav ul li / .nav ul li a / .nav ul li a:hover*/
    font-size: 1.5rem;                    /*Configuracion de la lista(menu de enlaces), siendo flex, posicionado a la derecha en el medio del header, todo en la misma linea(nowrap), sin decoraciones*/
    padding-left: 5%;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    color: white;
}

.menu{
    display: none;                      /*Hecho para la presentacion responsive de la pagina (display se activa solo cuando pasa de cierta medida en pixeles(jQuery))*/
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		MAIN
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.linea1{
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    height: 100%;
    width: 15%;
    position:absolute;
    background: linear-gradient(
        180deg,
        #f0c82f,                                                      /*rectangulo de decoracion en vertical, con un desvanecido, en jerarquia, esta por debajo de todo lo que hay en la pagina*/
        #eaa928,
        #e37e1e,
        rgb(255, 78, 78)
      );
    z-index: -1;
    margin-left: 80%;
}

.linea2{
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
        height: 100%;
        width: 15%;
        position:absolute;
        background: linear-gradient(
            180deg,
            #f0c82f,                                                      /*rectangulo de decoracion en vertical, con un desvanecido, en jerarquia, esta por debajo de todo lo que hay en la pagina*/
            #eaa928,
            #e37e1e,
            rgb(255, 78, 78)
          );
        z-index: -1;
        margin-left: 5%;
}

.linea3{
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    height: 80%;
    width: 13%;
    position:absolute;
    background: linear-gradient(
        180deg,
        #f0c82f,                                                      /*rectangulo de decoracion en vertical, con un desvanecido, en jerarquia, esta por debajo de todo lo que hay en la pagina*/
        #eaa928,
        #e37e1e,
        rgb(255, 78, 78)
      );
    z-index: -2;
    margin-left: 78%;
}

.linea4{
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
        height: 80%;
        width: 13%;
        position:absolute;
        background: linear-gradient(
            180deg,
            #f0c82f,                                                      /*rectangulo de decoracion en vertical, con un desvanecido, en jerarquia, esta por debajo de todo lo que hay en la pagina*/
            #eaa928,
            #e37e1e,
            rgb(255, 78, 78)
          );
        z-index: -2;
        margin-left: 9%;
}


#data-div{
    padding: 0;
    list-style-type: none;
    display: flex;
    background-color: #eaa928;
    color:  white;                                  /*Configuracion para la lista de informacion, con display flex, sin decoracion y alineado al centro*/
    margin: 0px;
    text-align: center;
    justify-content: center;
}

.data{
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
}

.informacion{
    width: 50%;                             /*Medidas para el contenedor de informacion*/
}


.titulo{
    text-align: center;
    margin-top: 5%;                                                 /*Titulo h2 centrado con subrayado, mas medidas*/
    margin-bottom: 0;
    text-decoration: underline;
    font-family: 'Julius Sans One', sans-serif;

}

#exp{
    display: flex;
    list-style-type: none;
    padding: 0px;                                                       /*Configuracion de la lista de exhibiciones con display flex, centrado sin decoraciones, medidas personalizadas*/
    text-align: center;
    margin: 100px;
    margin-top: 25px;
    
}


#exp p{
    margin: 10px;
    font-size: 1rem;                                                               /*Separando el texto de los bordes*/
}


#exp li{
    margin: 40px 10px 40px 10px;
    
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);                                        /*Separacion entre las imagenes de exhibicion*/

    width: 100%;
    
    
}

#exp li img{
    width: 100%;                
    height: 85%;                                                                    /*Medidas para las imagenes*/
}



.boton{
    text-align: center;
    margin-bottom: 5%;                                                              /*Boton alineado al centro*/
}

.bot{
    background-color: #36393c;
    color: white;
    width: 50%;
    margin: 0 auto;                                                                 /*Se colocan medidas y color para hacer un recuadro al texto, asi creando un boton*/
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		FOOTER
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

footer{
    width: 100%;
    height: 25%;
    font-size: 1rem;
    color: black;                           /*Contenedor footer con medidas, colores y alineacion al centro*/
    background-color: rgb(255, 78, 78);
    text-align: center;
}

#datos{
    display: flex;
  justify-content: center;                              /*Contenedor div con display flex y alineacion al centro*/
}

.copyright{
    color:white;                                   /*Color blanco al texto de copyright*/
}

.copyright2{
    display: none;
}

.uldata{
    display: inline-block;
    list-style-type: none;
    text-align: center;                                                
    color: white;
    
}

.uldata a{
    
    text-decoration: none;                                      /*.uldata / .uldata a / .uldata h2*/
    color: white;                                              /*Configuracion para lista de enlaces, en linea, sin decoracion, alineado al centro, se aplican colores*/
    
}

.uldata h2{
    text-decoration: underline;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		MEDIA QUERIES
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

@media only screen and (max-width: 1100px){
    
    #exp{
        display: block;
        list-style-type: none;
        padding: 0px;
    
        margin: 20px;
        
    }

    #exp li{
        width: auto;
    }
    

    

}
@media only screen and (max-width: 600px){



    #exp{
        display: block;
        list-style-type: none;
        padding: 0px;
    
        margin: 20px;
        
    }



    footer{
        width: 100%;
        height: 20vh;
        font-size: 0.7rem;
        color: black;
        background-color: rgb(255, 78, 78);
        text-align: center;
    }

    #datos{
        display:block;
        background-color: rgb(255, 78, 78);
    }

    .uldata{
        margin: 0;
        padding: 0;
        padding-top: 2%;
        display: block;
    }
    
    .copyright{
     display: none;   
    }

    .copyright2{
        display: block;
        color:white;
    }

    #exp li{
        width: auto;
    }

    #exp-1{
        margin: 0;
    }
    
    #exp-2{
        margin: 0;
    }
    
    #exp-3{
        margin: 0;
    }
    
    #encabezado{
        display: block;
    }

    .menu{
        top: 6vh;
        display: flex;
        margin-left: 85%;
        margin-right:5%;
        list-style-type: none;
        position: absolute;
    }

    .nav ul{
        display: none;
    }
    
    .nav ul li{
       padding-top: 1vh;
       padding-bottom: 1vh; 
    }

    .nav ul li a{
        font-weight: 500;
        color:rgb(0, 0, 0);
        
     }

    .nav ul.show {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    
        padding-left: 5%;
        padding-right: 5%;

        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.416);
        height: 37vh;
        animation-name: slide;
        animation-duration: 0.5s;
      }

      @keyframes slide {
        /**/
        from {
          height: 0px;
        }                               /*Animacion del menu de enlaces, hecho con JS*/
        to {
          height: 37vh;
        }
      }

   
}