/* #36393c #e37e1e #eaa928 #f0c82f #ffffff */

body{
    background-color: rgb(233, 233, 233);
    font-family: 'Asap', sans-serif;
}



footer{
    font-size: 10px;
    color: black
}

.fondo{
    background-image: url("img/banner.jpg");
    padding-bottom: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
    height: 50%;
}


#encabezado{
    background-color: white;
    display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(0, 0, 0);
	width: 100%;
	top: 0;
	z-index: 2;
    background-color: rgba(255, 255, 255, 0.226);
    width: 100%;
    height: auto;
}


.museo{
    height: 15vh;
	width: auto;
    margin-left:2%;
}

#paginas{
    display: flex;
	float: right;
    margin-top: 2.5vh;
    margin-right:5%;
    list-style-type: none;
}

#paginas li{
    white-space: nowrap;
    font-size: 2vh;
    padding-left: 5%;
}

#paginas li a{
    text-decoration: none;
    color: black;
}

#paginas li a:hover{
    color: white;
}




#data-div{
    
    list-style-type: none;
    display: flex;
    background-color: #e37e1e;
    color:  white;
    margin: 0px;
    text-align: center;
}


.horarios{
    width: 20%;
    padding-right: 25px;
}

.informacion{
    width: 80%;
}

.titulo{
    text-align: center;
}



#exp{
    display: flex;
    list-style-type: none;
    padding: 0px;

    margin: 100px;
    
}


#exp p{
    margin: 10px;
}


#exp li{
    margin: 40px 10px 40px 10px;
    
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#exp li img{
    width: 100%;
    height: auto;
}



.boton{
    text-align: center;
    margin-top: 5%;
}

.bot{
    background-color: #36393c;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}


footer{
    width: 100%;
    height: 20vh;
    font-size: 1vh;
    color: black;
    background-color: #e37e1e;
    text-align: center;
}

.copyright{
    color:white;
}

.uldata{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    color: white;
    
}

.uldata a{
    
    text-decoration: none;
    color: white;
    
}

.uldata h2{
    color: black;
}




@media only screen and (max-width: 500px){



    #exp{
        display: block;
        list-style-type: none;
        padding: 0px;
    
        margin: 20px;
        
    }


    nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bar-btn{
        font-size: 2.5vh;
        color: black;
        margin-right: 20px;
        cursor: pointer;
    }

    .nav-menu{
        position:fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        background: rgba(255, 255, 255, 0.226);
        text-align: center;
        transition: all .5s;
    }

    .nav-menu li{
        display: block;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
    }

    .nav-menu li a{
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .nav-menu li a.active, .nav-menu li a:hover{
        color:white;
        transition: .3s;
    }

    #check{
        display: none;
    }

    #check:checked ~ .nav-menu{
        height: 100vh;
    }

    #check:checked ~ .nav-menu li{
        display: block;
    }
}