/* #36393c #e37e1e #eaa928 #f0c82f #ffffff */

body{
    background-color: rgb(233, 233, 233);
    font-family: 'Asap', sans-serif;
}



footer{
  width: 100%;
  height: 20vh;
  font-size: 1.2vh;
  color: black;
  background-color: rgb(255, 78, 78);
  text-align: center;
}

.fondo{
    background-image: url("../img/banner.jpg");
    padding-bottom: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
    height: 50%;
}

#encabezado{
    background-color: white;
    display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(0, 0, 0);
	width: 100%;
	top: 0;
	z-index: 2;
    background-color: rgba(255, 255, 255, 0.226);
    width: 100%;
    height: auto;
}

.museo{
    height: 15vh;
	width: auto;
    margin-left:2%;
}

nav{
  width: 100%;
}

.nav ul{
  display: flex;
float: right;
  margin-top: 2.5vh;
  margin-right:10vh;
  list-style-type: none;
}

.nav ul li{
  white-space: nowrap;
  font-size: 2vh;
  padding-left: 5%;
}

.nav ul li a{
  text-decoration: none;
  color: black;
}

.nav ul li a:hover{
  color: white;
}

.menu{
  display: none;
}

#fyr{
  display: flex;
  padding: 5vh;
}

#fyr form{
  width: 100%;
  margin-left: 25px;
}

.ulcont{
  list-style-type: none;
  padding: 0;
  color: #36393c;
}

.contenedor{
  margin-right: 25px;
  white-space: nowrap;
}

.linea{
  height: 100%;
  width: 22vh;
  position:absolute;
  background: linear-gradient(
      180deg,
      #f0c82f,
      #eaa928,
      #e37e1e,
      rgb(255, 78, 78)
    );
  z-index: -1;
  margin-left: 2.80%;
}

.hr{
    background-color: #f0c82f;
    border-color: #f0c82f;
    margin: 0;
    height: 1vh;
}

h2{
  text-decoration: underline;
}

b{
  color: black;
}

#datos{
  display: flex;
 
justify-content: center;
}

.copyright{
  color:white;
}

.uldata{
  display: inline-block;
  list-style-type: none;
  text-align: center;
  color: white;
  
}

.uldata a{
  
  text-decoration: none;
  color: white;
  
}

.uldata h2{
  color: black;
}

main{
    width: 100%;
}


  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 75%;
    display: inline-block;
    
    margin-left: 1%;
  }
  
  label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background-color: #e37e1e;
    border: none;
    color: white;
    font-size: 1.25em;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  button:hover {
    border: 2px solid black;
  }

  @media only screen and (max-width: 600px){

    #fyr{
      display: inline-block;
      padding: 7%;
    }

    #fyr form{
      margin-left: 0;
    }

    button{
     float: left;
    }

    footer{
        width: 100%;
        height: 20vh;
        font-size: 1.1vh;
        color: black;
        background-color: #e37e1e;
        text-align: center;
    }

    
    
    #encabezado{
        display: block;
    }

    .menu{
        top: 6vh;
        display: flex;
        margin-left: 85%;
        margin-right:5%;
        list-style-type: none;
        position: absolute;
    }

    .nav ul{
        display: none;
    }
    
    .nav ul li{
       padding-top: 1vh;
       padding-bottom: 1vh; 
    }

    .nav ul li a{
        font-weight: 500;
        color:rgb(0, 0, 0);
        
     }

    .nav ul.show {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    
        padding-left: 5%;
        padding-right: 5%;

        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.416);
        height: 37vh;
        animation-name: slide;
        animation-duration: 0.5s;
      }

      @keyframes slide {
        /**/
        from {
          height: 0px;
        }
        to {
          height: 37vh;
        }
      }
