/* #36393c #e37e1e #eaa928 #f0c82f #ffffff */

body{
    background-color: rgb(233, 233, 233);
    font-family: 'Asap', sans-serif;
}



footer{
    font-size: 10px;
    color: black
}

.fondo{
    background-image: url("../img/banner.jpg");
    padding-bottom: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
    height: 50%;
}


#encabezado{
    background-color: white;
    display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(0, 0, 0);
	width: 100%;
	top: 0;
	z-index: 2;
    background-color: rgba(255, 255, 255, 0.226);
    width: 100%;
    height: auto;
}


.museo{
    height: 15vh;
	width: auto;
    margin-left:2%;
}

#paginas{
    display: flex;
	float: right;
    margin-top: 2.5vh;
    margin-right:5%;
    list-style-type: none;
}

#paginas li{
    white-space: nowrap;
    font-size: 1.35vw;
    padding-left: 5%;
}

#paginas li a{
    text-decoration: none;
    color: black;
}

#paginas li a:hover{
    color: white;
}

#fyr{
  display: flex;
  padding: 5vh;
}

#fyr form{
  width: 100%;
  margin-left: 25px;
}

.ulcont{
  list-style-type: none;
  padding: 0;
  color: #36393c;
}

.contenedor{
  margin-right: 25px;
  white-space: nowrap;
}

.linea{
  height: 100%;
  width: 22vh;
  position:absolute;
  background: linear-gradient(
      180deg,
      #f0c82f,
      #eaa928,
      #e37e1e,
      rgb(255, 78, 78)
    );
  z-index: -1;
  margin-left: 2.80%;
}

.hr{
    background-color: #f0c82f;
    border-color: #f0c82f;
    margin: 0;
    height: 1vh;
}

h2{
  text-decoration: underline;
}

b{
  color: black;
}

main{
    width: 100%;
}


  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 75%;
    display: inline-block;
    
    margin-left: 1%;
  }
  
  label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background-color: #e37e1e;
    border: none;
    color: white;
    font-size: 1.25em;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  button:hover {
    border: 2px solid black;
  }